services:
  saa-bot:
    build:
      context: https://github.com/lemonson03/AWS-SAA-C03-STUDYBOT.git#main
      dockerfile: Dockerfile
    container_name: saa-study-bot
    image: saa-bot:latest
    restart: always
    env_file:
      - .env
    volumes:
      # 호스트의 ./data 폴더를 컨테이너의 /app/data 폴더로 연결합니다.
      - ./data:/app/data
